body {
    background-image: url("back1.jpg"); /* Вкажіть шлях до вашого зображення */
    background-size: cover; /* Заповнює всю площу батьківського контейнера */
    background-repeat: no-repeat; /* Заборонити повторення зображення */
    /* Додаткові стилі для позиціонування фону, якщо потрібно */
}

 .line {
    border: 1px solid #F5F5DC; /* Товщина, тип та колір лінії */
    margin: 10px 0; /* Відступи від верхнього та нижнього контенту (за потреби) */
}


.registration-form {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}